.training-hero {
    padding: 120px 0;
    text-align: center;
    background: #0f172a;
    color: white;
}
.section-title {

    display: flex !important;

    justify-content: space-between !important;

    align-items: center !important;

    text-align: left !important;
}

.section-title::after {

    display: none !important;
}