.achievement-welcome-section {

    position: relative;

    overflow: hidden;

    padding: 80px 0;

    background:
        linear-gradient(
            135deg,
            #0f172a,
            #172554,
            #1e3a8a
        );
}

.achievement-welcome-section .container {

    position: relative;

    z-index: 2;
}

.achievement-welcome-section::before {

    content: "";

    position: absolute;

    top: -150px;

    right: -150px;

    width: 350px;

    height: 350px;

    border-radius: 50%;

    background:
        rgba(255,255,255,.03);
}

.achievement-welcome-section::after {

    content: "";

    position: absolute;

    bottom: -120px;

    left: -120px;

    width: 280px;

    height: 280px;

    border-radius: 50%;

    background:
        rgba(255,255,255,.04);
}