.back-home-btn {

    display: inline-flex;

    align-items: center;

    gap: 8px;

    height: 46px;

    padding: 0 18px;

    border-radius: 50px;

    text-decoration: none;

    background: #f1f5f9;

    color: #0f172a;

    font-size: 14px;

    font-weight: 600;

    transition: .3s;
}

.back-home-btn:hover {

    background: #2563eb;

    color: #fff;

    text-decoration: none;

    transform: translateY(-2px);
}