.image-info-btn {

    position: absolute;

    top: 12px;

    left: 12px;

    width: 38px;

    height: 38px;

    border-radius: 50%;

    background: rgba(255,255,255,.95);

    color: #2563eb;

    display: flex;

    align-items: center;

    justify-content: center;

    z-index: 20;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.image-view-btn {

    position: absolute;

    top: 12px;

    right: 12px;

    background: rgba(37,99,235,.95);

    color: #fff;

    padding: 8px 12px;

    border-radius: 30px;

    display: flex;

    align-items: center;

    gap: 8px;

    font-size: 12px;

    font-weight: 600;

    z-index: 20;

    opacity: 0;

    transform: translateY(-10px);

    transition: .35s;
}

.about-image:hover .image-view-btn {

    opacity: 1;

    transform: translateY(0);
}
