.experience-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
   
    transition: 0.3s;
}

.experience-card:hover {
    transform: translateY(-3px);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.experience-header h3{
    color:#0f172a;
    font-weight:700;
}

.experience-header span{
    background:#2563eb;
    color:#fff;
    padding:8px 15px;
    border-radius:30px;
}